<h1>Hello Valet</h1>
<form action="/test" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="fJ3lf0XT5VxQM9WH2YPClbX06xItj+jYg4QcO6bDg7CKPdZVFV0+IakzJhQJerM0G5A+Wnxt03hre8juy0EVbg==">

  <div class="field">
    <label for="product_name">Name</label>
    <input id="product_name" type="text" name="product[name]">
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create Product" data-disable-with="Create Product">
  </div>
</form>
